<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="EncKey" value="HQBZQP8h76T4BNKLV"/>
  </appSettings>

  <connectionStrings>
    <add name="Industry_MSME_mysql" connectionString="Data Source=10.132.36.138;Initial Catalog=rti_nic_cg; User Id=root; Password=nic;" providerName="System.Data.MySql"/>
    <add name="Test_mysql" connectionString="Data Source=localhost;Initial Catalog=test; User Id=root; Password=nic;" providerName="System.Data.MySql"/>
    <add name="Industry_MSME_sql" connectionString="Data Source=127.0.0.1;Initial Catalog=Industry_MSME; User Id=lokesh; Password=lokesh@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--<httpHandlers>
        <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>-->
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" />
    <authentication mode="None"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
   <rules>
            <rule name="RemoveASPX" enabled="true" stopProcessing="true">
                <match url="(.*)\.aspx" />
                <action type="Redirect" url="{R:1}" />
            </rule>
            <rule name="AddASPX" enabled="true">
                <match url=".*" negate="false" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
                </conditions>
                <action type="Rewrite" url="{R:0}.aspx" />
            </rule>
   </rules>
</rewrite>

  </system.webServer>
    
</configuration>